/* definir constantes ej colores border radius, paddings, etc. */
:root {
  --color-naranja: #FEBA43;
  --color-amarilloPatito: #FFF8E6;
  --color-negro: #0D0D12;
  --color-grisClarito: #F2F2F2;
  --color-blanco: #FFFFFF;
  --border-radius: 4px;
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #0D0D12;
}
.nav-list{
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.nav-list li a {
  text-decoration: none;
  color: #F2F2F2;
  display: inline-block; 
  padding: 0.65rem 1.5rem; 
  transition: 0.6s;
}
.nav-list li a:hover {
  background-color: #ffe7a3;
  color: #0d0d12;
  border-radius: 4px;
}
.nav-list li a.active {
  background-color: #F6B318;
  color: #0D0D12;
  border-radius: 4px;
}

.abrir-menu, .cerrar-menu {
  display: none;
}

.footer{
  position: relative;
  width: 100%;
  background-color: #F2F2F2;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footerContenido {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.cosoFooter{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}
.footerLista{
  list-style:none;
}
.footerLista a img{
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}
.footerLista img:hover{
  transform: translateY(-10px);
}

@media screen and (max-width: 550px) {
  .abrir-menu, .cerrar-menu{
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  .abrir-menu img, .cerrar-menu img {
    width: 2rem;
    height: 2rem;
  }
  .abrir-menu {
    color: #F2F2F2;
  }
  .cerrar-menu {
    color: #0D0D12;
  }
  .nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.1);
  }
  .nav.visible{
    opacity: 1;
    visibility: visible;
    position: fixed;
  }
  .nav-list{
    flex-direction: column;
    align-items: start;
  }
  .nav-list li a {
    color: #0D0D12;
    /* transition: background-color 0.6s 
               ease-in-out 0.1s, 
               color 0.6s 
               ease-in-out 0.1s; */
  }
  .nav-list li a.active {
    background-color: #F6B318;
    color: #0D0D12;
  }
}