main {
  position: relative; /* necesario para posicionar el ::before */
  background-image: url(../img/logos/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main::before {
  content: "";
  position: absolute;
  inset: 0; /* cubre todo el main */
  background-color: #1a1a1a ; /* gris semitransparente */
  opacity: 0.7;
  z-index: 1; /* para que quede encima del fondo */
}

#mainFondo {
  position: relative; /* para que quede encima del ::before */
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 60px;
}

h1 {
  position: relative;
  color: #FFFFFF;
  font-family: 'Times New Roman', Times, serif;
  z-index: 3 ;
}